{% load static %}
<ul>
  <li><a href="{% url 'home' %}"><code>/</code></a> This page.</li>
  <li><a href="{% url 'ip' %}"><code>/ip</code></a> Returns Origin IP.</li>
  <li><a href="{% url 'user-agent' %}"><code>/user-agent</code></a> Returns user-agent.</li>
  <li><a href="{% url 'headers' %}"><code>/headers</code></a> Returns header dict.</li>
  <li><a href="{% url 'get' %}"><code>/get</code></a> Returns GET data.</li>
  <li><code>/post</code> Returns POST data.</li>
  <li><code>/patch</code> Returns PATCH data.</li>
  <li><code>/put</code> Returns PUT data.</li>
  <li><code>/delete</code> Returns DELETE data.</li>
  <li><a href="{% url 'utf8' %}"><code>/encoding/utf8</code></a> Returns page containing UTF-8 data.</li>
  <li><a href="{% url 'gzip' %}"><code>/gzip</code></a> Returns gzip-encoded data.</li>
  <li><a href="{% url 'deflate' %}"><code>/deflate</code></a> Returns deflate-encoded data.</li>
  <li><a href="{% url 'status' code=418 %}"><code>/status/:code</code></a> Returns given HTTP Status code or random if
    more than one are given.</li>
  <li><a
      href="{% url 'response-headers' %}?Content-Type=text/plain;%20charset=UTF-8&Server=httpbin"><code>/response-headers</code></a>
    Returns given response headers.</li>
  <li><a href="{% url 'redirect' times=6 %}"><code>/redirect/:n</code></a> 302 Redirects n times.</li>
  <li><a href="{% url 'redirect-to' %}?url=http://example.com/"><code>/redirect-to?url=foo</code></a> 302 Redirects n
    times.</li>
  <li><a
      href="{% url 'redirect-to' %}?url=http://example.com/&status_code=307"><code>/redirect-to?url=foo&status_code=307</code></a>
    302 Redirects n times.</li>
  <li><a href="{% url 'relative-redirect' times=6 %}"><code>/relative-redirect/:n</code></a> 302 Relative redirects n
    times.</li>
  <li><a href="{% url 'absolute-redirect' times=6 %}"><code>/absolute-redirect/:n</code></a> 302 Absolute redirects n
    times.</li>
  <li><a href="{% url 'cookies' %}"><code>/cookies</code></a> Returns cookie data.</li>
  <li><a href="{% url 'cookies-set' %}?k1=v1&k2=v2"><code>/cookies/set?name=value</code></a> Set one or more simple
    cookies.</li>
  <li><a href="{% url 'cookies-delete' %}?k1&k2"><code>/cookies/delete?name</code></a> Deletes one or more simple
    cookies.</li>
  <li><a href="{% url 'basic-auth' user='user' passwd='passwd'%}"><code>/basic-auth/:user/:passwd</code></a> Challenges
    HTTPBasic Auth.</li>
  <li><a
      href="{% url 'hidden-basic-auth' user='user' passwd='passwd'%}"><code>/hidden-basic-auth/:user/:passwd</code></a>
    404'd BasicAuth.</li>
  <li><a
      href="{% url 'digest-auth' qop='auth' user='user' passwd='passwd' algorithm='MD5' %}"><code>/digest-auth/:qop/:user/:passwd/:algorithm</code></a>
    Challenges HTTPDigest Auth.</li>
  <li><a href="{% url 'download' %}?filesize=1024"><code>/download?filesize=1024</code></a> Download a file.</li>
  <li><a href="{% url 'image' %}?w=64&h=64"><code>/image?w=64&h=64</code></a> Image.</li>
  <li><a href="{% url 'ogp' %}"><code>/ogp</code></a> Open graph protocol page.</li>
</ul>
